site_name: Datatruck
site_url: https://mydomain.org/mysite
nav:
  - MFA Setup: index.md
  - MFA CLI: cli.md
  - CW Agent: cwagent.md

theme:
  features:
    - navigation.sections
    - navigation.expand
    - navigation.path
    # - navigation.tabs
    - content.tabs.link
    - content.code.copy
  name: material
  font: 
    text: Merriweather Sans
    code: Red Hat Mono
  palette: 
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
markdown_extensions:
  - admonition
  - pymdownx.details
  - attr_list
  - md_in_html
  - pymdownx.blocks.caption
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true